<div class="modal fade" id="ModalAddToLibrary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a New Song to Your Library</h4>
            </div>
            <div class="modal-body" style="padding: 20px 50px 50px 50px;">
                <div style="margin-left: 80px">
                    <input type="text" id="findAddtoLibVideo" />
                    <button class="btn btn-primary" onclick="displaySearchAddtoLib()">Search</button>
                </div>
                <br />
                <div id="addLib-player">

                    <script src="https://www.youtube.com/iframe_api" id="player-script">
                    </script>
                </div>
                <label>Name the Song as...</label>
                <input type="text" id="videoName" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addVideotoLib()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>