@model Library

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <a href="#" data-toggle="collapse" data-target="#library">Library</a>
            <ul class="collapse in" id="library" style="list-style-type: none;">
                @foreach (Video item in Model.AllMusic)
                {
                    <li><a href="/Library?v=@item.videoID">@item.Name</a></li>
                }
                <li style="margin-top: 10px; margin-bottom: 30px;"><a href="#" data-toggle="modal" data-target="#ModalAddToLibrary" ><span class="glyphicon glyphicon-plus" ></span> Add New Song</a></li>
            </ul>
        </li>
        <li><a href="#">Quick Find</a>
        <li>
        <li><a href="#">Statistics</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a data-toggle="collapse" href="#" data-target="#playlists">Playlists</a></li>
        <li>
            <ul id="playlists" class="collapse in" style="list-style-type: none">
                <li><a href="#">Example Playlist 1</a></li>
                <li><a href="#">New Playlist</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-sidebar"></ul>
</div>

@Html.Partial("Modals/ModalAddToLibrary")