<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        body {
            margin-top: 50px;
        }

        #upcoming-music {
            height: 400px;
            overflow-y: scroll;
        }

        #search-player-wrapper {
            visibility: hidden;
        }

        .navbar {
            background: #00719C;
        }

            .navbar a {
                color: white !important;
            }

                .navbar a:hover {
                    color: gray !important;
                }

        .sidebar a {
            position: relative;
        }
    </style>
</head>


<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Youtube Playlist</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="">About this Project</a></li>
                </ul>
                <div class="nav navbar-nav navbar-form navbar-center" style="position: absolute; margin-left: 40vw;">
                    <input type="text" class="form-control" placeholder="Search..." style="width: 320px;">
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync("Sidebar")
        </div>
        @RenderBody()
    </div>
    <script src="~/js/lib.js"></script>
    <script src="~/js/AddVideo.js"></script>
    <script src="~/js/Library.js"></script>
</body>
</html>